/.idea

/.requests/http-client.private.env.json

/public/build
/public/css
/public/hot
/public/images
/public/js
/public/storage

!/public/vendor/nova
/public/vendor

/routes/playground.php

/storage/*.key
/.phpunit.cache

/node_modules
/vendor

/.env
/.env.*
!/.env.testing

*.backup
*.cache
*.log
*.orig
*.bak

*.BASE
*.LOCAL
*.REMOTE
